.header {
  padding: 120px 0 0 0;
  margin-bottom: 60px;
}

.title, .txt {
  font-family: 'Aggressive Angry Baby Killer', sans-serif;
  color: var(--gray);
  text-align: center;
}

.title {
  margin: auto;
  max-width: 600px;
  margin-bottom: 50px;
  font-size: 70px;
  line-height: 70px;
}

.txt {
  font-size: 30px;
  line-height: 30px;
}

.form {
  display: flex;
  min-width: 100%;
  justify-content: center;
  text-align: center;
}

.signInBtn, .signInBtn:focus {
  border-radius: 0 5px 5px 0;
  border-left: none;
  text-align: center;
  min-height: 100%;
  padding-top: 9px;
}

.signInInput, .signInInput:focus {
  border-radius: 5px 0 0 5px;
  height: 100%;
}